<div class="row">
  <div class="large-12 columns">

    <%= render "nominations/form" %>

    <div class="row">
      <div class="nomination-top-section text-center small-12 columns">
        <h2>Nominations for <%= @team.name %></h2>
        <% if current_user.admin? %>
          <%= link_to "See Awards", team_nominations_path(@team), class: "button-pink radius" %>
        <% end %>
      </div>
    </div>

    <div class="nominations row">
      <%= render @nominations %>
    </div>
  </div>
</div>
