<div class="row">
  <div class="large-12 columns">
    <%= render "nominations/form" %>

    <% if current_user.admin? %>
      <%= link_to "Awards", team_nominations_path(@team) %>
    <% end %>

    <ul class="nominations">
      <%= render @nominations %>
    </ul>
  </div>
</div>
