@import "../colors";

.nomination-top-section {
  h2 {
    color: $dark-blue;
  }
}

.form-wrapper {
  background: $pink;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;

  h3 {
    color: $white;
    font-weight: 100;
  }

  select,
  input {
    border-radius: 0.2rem;
  }

  form {
    margin: 0;
    padding: 0;
  }

  label[for="team_enrolling"] {
    color: $white;
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 6.5rem;
  }

  input[type="checkbox"] {
    height: 1rem;
    margin-left: 1rem;
    margin-top: 0.75rem;
    width: 1rem;
  }

  .error-explanation {
    color: $white;
    font-weight: 100;
  }

  ul {
    list-style-type: none;
  }
}

.nomination {
  background: $dark-blue;
  border: 0.2rem solid $background;
  border-radius: 0.4rem;

  h5 {
    color: $pink;
    font-weight: 200;
  }

  h6 {
    color: $white;
    font-weight: 200;
    height: 2.8rem;
    overflow-y: scroll;
  }

  .button-group {
    height: 2.8rem;
    padding: 0 0.5rem;
  }

  .button-pink {
    margin: 0;
  }

  ::-webkit-scrollbar {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: $dark-blue;
  }
}

.ribbon {
  position: absolute;

  img {
    height: 3.5rem;
  }

  span {
    bottom: 1.4rem;
    color: $white;
    position: absolute;
    right: 0.9rem;
  }

  .voted {
    right: 0.5rem;
  }

  .vote-count {
    font-size: 1.2rem;
    font-weight: normal;
    right: 1.4rem;
  }
}

.nomination-content {
  padding: 1rem 0;
}
