<div class="row">
  <div class="team-memberships text-center small-12 columns">
    <h1>Members</h1>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th class="table-headers">Name</th>
          </tr>
        </thead>
        <tbody>
          <% @team.memberships.each do |membership| %>
            <tr>
              <td>
                <span><%= membership.user.name %></span>
                <%= link_to "X", admin_team_membership_path(membership), method: :delete, class: "right" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
