@import "colors";

.button-white {
  @extend .button;
  background-color: $white;
  color: $dark-blue;

  &:hover,
  &:focus {
    background-color: $white;
    color: $dark-blue;
  }
}

.button-pink {
  @extend .button;
  background-color: $pink;
  color: $white;

  &:hover,
  &:focus {
    background-color: $pink;
    color: $white;
  }
}

.button-hollow-white {
  @extend .button;
  background-color: rgba($pink, 0);
  border: 0.1rem solid $white;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $pink;
  }
}
