@import "colors";

footer {
  background: $pink;
  height: 10rem;
  padding: 3rem 0 0 3rem;

  span {
    font-weight: 400;
  }

  span:first-child {
    color: $white;
    margin-right: 1.5rem;
  }

  span:last-child {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
  }

  a {
    color: $white;
    font-weight: 100;
  }

  a:hover {
    color: $white;
  }
}
